@import "./theme/app.css";
@import "./theme/rating.css";
@import "./theme/carousel.css";
@import "./theme/scroll.css";
@import "./theme/griditem.css";


/* @media (prefers-reduced-motion: no-preference) {
  .logoimage {
    animation: logo-float infinite 3s ease-in-out;
  }
}

@keyframes logo-float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
} */