.gridUtil_image {
  color: transparent;
  width: 100px;
  max-height: 130px;
  object-fit: cover;
  object-position: 100% 25%;
}
.accordianUtil_image {
  color: transparent;
  width: 100px;
  height: auto;
  max-height: 110px;
}
