.custom_search_input {
    @apply relative w-[95%] rounded-lg border-[1px] border-black bg-[#16151D] px-4 py-1 text-white outline-none sm:w-[55%] sm:py-2 md:w-[55%] lg:w-[40%];
}

.custom_al_search_input {
    @apply block w-full rounded-lg border border-gray-300 bg-gray-50 p-2 pl-10 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500;
}

.custom_email_input {
    @apply flex h-10 w-full rounded-xl border p-6 pl-10 text-sm text-white placeholder-gray-400 file:border-0 file:bg-transparent file:text-sm file:font-medium focus:outline-none focus:ring-2 focus:ring-white focus-visible:outline-none disabled:cursor-not-allowed disabled:opacity-50;
}

.custom_username_input {
    @apply flex h-10 w-full rounded-xl border p-6 pl-10 text-sm text-white placeholder-gray-400 file:border-0 file:bg-transparent file:text-sm file:font-medium focus:outline-none focus:ring-2 focus:ring-white focus-visible:outline-none disabled:cursor-not-allowed disabled:opacity-50;
}

.custom_password_input {
    @apply flex h-10 w-full rounded-xl border p-6 pl-10 text-sm text-white placeholder-gray-400 file:border-0 file:bg-transparent file:text-sm file:font-medium focus:outline-none focus:ring-1 focus:ring-white focus-visible:outline-none disabled:cursor-not-allowed disabled:opacity-50;
}

.custom_checkbox_input {
    @apply size-4 shrink-0 rounded border border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 data-[state=checked]:bg-primary data-[state=checked]:text-primary;
}

.custom_checkbox_inputt {
    @apply mt-1 h-[13px] w-[13px] shrink-0 rounded-sm border border-[#5d5d5d] bg-[#5d5d5d] hover:cursor-pointer focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 data-[state=checked]:h-4 data-[state=checked]:w-4 data-[state=checked]:border-[#333333] data-[state=checked]:bg-[#333333] data-[state=checked]:font-bold data-[state=checked]:text-[#28a745];
    transform: translateX(-100%);
    position: absolute;
    pointer-events: auto;
    opacity: 1;
    margin: 0px;
    width: 13px;
    height: 13px;
}

.custom_cktextarea_input {
    @apply w-full border-0 px-0 text-sm text-gray-900 focus:outline-none focus:ring-0 dark:bg-gray-800 dark:text-white dark:placeholder-gray-400;
}

.custom_char_input {
    @apply block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 shadow-sm focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500 sm:text-sm;
}

.custom_select_input {
    @apply block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500;
}

.custom_mulselect_input {
    @apply block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500;
}

.custom_textarea_input {
    @apply block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500;
}

.custom_image_input {
    @apply mb-5 block w-full cursor-pointer rounded-lg border border-gray-300 bg-gray-50 text-xs text-gray-900 focus:outline-none dark:border-gray-600 dark:bg-gray-700 dark:text-gray-400 dark:placeholder-gray-400;
}

.custom_label {
    @apply mb-2 block text-sm font-medium text-gray-900 dark:text-white;
}

// .pre-wrapper {
//   position: relative;
// }

// .pre-wrapper pre {
//   padding-top: 25px;
// }

// .pre-wrapper .copy-snippet {
//   border-radius: 0;
//   min-width: 55px;
//   background: none repeat scroll 0 0 transparent;
//   border: 1px solid #bbb;
//   color: #26589F;
//   font-family: 'HELEVETICA', sans-serif;
//   font-size: 12px;
//   font-weight: normal;
//   line-height: 1.42rem;
//   margin: 0;
//   padding: 0px 5px;
//   text-align: center;
//   text-decoration: none;
//   text-indent: 0;
//   position: absolute;
//   background: #ccc;
//   top: 30px;
//   right: 20px;
// }

// .pre-wrapper .copy-snippet:disabled {
//   color: #555;
// }
